.btn {
    padding: rem(19px) rem(46px);
    color: #ffffff;
    font-weight: bold;
    background: #e01f3d;
    border-radius: rem(100px);
    text-decoration: none;
    border: none;

    &:hover{
        background: #CA1B36;
    }

    &--transparent{
        background:transparent;
        color: #FFFFFF;
        &:hover{
            background:transparent;
        }
    }
    @include phones{
        font-size: rem(20px);
    }
}