.form {
    display: flex;
    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(40px);
    &:last-child {
        margin-right: 0;
    }
    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(36px);
    @include tablets {
        margin-bottom: rem(36px);
    }
}

.form__block {
    flex: 1;
    margin-right: rem(40px);
    &:last-child {
        margin-right: 0;
    }
    @include phones{
        margin-right: 5%;
    }
}

.form__input {
    width: 100%;
    padding: rem(18px) 0 rem(20px) rem(12px);
    padding-top: rem(18px);
    padding-bottom: rem(20px);
    border: solid rem(3px) transparent;
    border-radius: rem(4px);

    &--textarea {
        height: rem(152px);
        resize: none;
    }
    &:focus {
        border-color: #e01f3d;
        outline: none;
    }
    @include tablets {
        height: rem(36px);
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(45px);
    @include phones{

    }
}

.form__btns {
    @include tablets {
        display: flex;
        justify-content: center;
    }
}
